<div class="jumbotron bg-light m-4">
  <div class="card-body">
    <h1>About</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorum, explicabo facilis. Ipsam deserunt possimus, rerum eligendi qui consectetur dolorem sit, recusandae commodi deleniti suscipit tempora a debitis iste. Ex, ratione.</p>
    <a href="/" class="btn btn-primary">Back to home</a>
  </div>
</div>