<div class="jumbotron bg-light m-4">
  <div class="card-body">
    <h1>About</h1>
    <h3>A little app to write notes.</h3><br/>
    <p>The app has all required to be a complete application implementing a CRUD. It's made in <strong>NodeJS</strong> and integrates <strong>MongoDB</strong> as a non-relational database.</p><br>

    <a href="/" class="btn btn-primary">Back to home</a>
  </div>
</div>