<div class="jumbotron bg-light m-4">
  <h1 class="display-4">HRLD Notes App NodeJs and MongoDB</h1>
  <p class="lead">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolor, cum.</p>
  <hr class="my-4">
  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sunt expedita quis excepturi. Quae, id? Adipisci quas sequi ipsa temporibus a provident nihil velit, sed perspiciatis, incidunt reiciendis. Ex, in eaque?</p>
  <a href="https://google.com" class="btn btn-primary btn-lg">Web</a>
</div>