<div class="jumbotron bg-light m-4">
  <h1 class="display-4">HRLD Notes App</h1>
  <p class="lead">A little app to write notes</p>
  <hr class="my-4">
  <p>The app has all required to be a complete application implementing a CRUD. It's made in <strong>NodeJS</strong> and integrates <strong>MongoDB</strong> as a non-relational database.</p><br>
  <p>Made with 🤍 by <strong>@HRLD</strong> in LATAM</p>
</div>