<div class="row mt-4">
  <div class="col-md-4 mx-auto">
    <div class="card">
      <div class="card-header d-flex justify-content-center">
        <h3>Account register</h3>
      </div>
      <div class="card-body">
        <form action="/users/signup" method="POST">
          <div class="form-group">
            <input type="text" class="form-control" name="name" placeholder="Name" value="{{name}}">
          </div>
          <div class="form-group">
            <input type="email" class="form-control" name="email" placeholder="Email" value="{{email}}">
          </div>
          <div class="form-group">
            <input type="password" class="form-control" name="password" placeholder="Password">
          </div>
          <div class="form-group">
            <input type="password" class="form-control" name="confirm_password" placeholder="Confirm password">
          </div>
          <div class="form-group">
            <button class="btn btn-primary btn-block">Sign Up</button>
          </div>
          <p>Have account ? <a href="/users/signin">sign in</a></p>
        </form>
      </div>
    </div>
  </div>
</div>